.commentstyle {
/*	border: 1px solid black;*/
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.display_p {
	overflow-wrap: break-word;
   font-style: italic;
}


