* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.centerPosts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.wrapper-div {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
