.myNav {
	background-color: black !important;

}

.navbar-inverse .navbar-nav .nav-link {
    color: #ffffff;
}
.multiColors{
    height:10px;
    background: linear-gradient(to right, #fdb111 0%, #fdb111 6%, #f68f2b 6%, #f68f2b 12%, #f5743a 12%, #f5743a 18%, #ef564b 18%, #ef564b 24%, #ef1e57 24%, #ef1e57 30%, #ec3566 30%, #ec3566 36%, #ee507d 36%, #ee507d 42%, #f17194 42%, #f17194 48%, #e68baa 48%, #e68baa 54%, #d2a0bb 54%, #d2a0bb 60%, #bb99b4 60%, #bb99b4 66%, #9b93a0 66%, #9b93a0 72%, #73868a 72%, #73868a 78%, #487173 78%, #487173 84%, #436b6a 84%, #436b6a 90%, #155650 90%, #155650 96%, #074443 96%) !important; 
}

.logo-size {
	width: 50px;
	height: 50px;
	margin: 1rem 0rem 0rem 0rem; 
}
