.like {
	background: lightgrey;
}
.color > p{
	background-color: lightsalmon;
}

.card {
	/* background-color: black; */
}

.showPostHeader {
	margin-top: 2.5rem;
	text-align: center;
	margin-right: 22rem;
	color: white;
} 

.center-div {
	margin: 0 auto;
}

.heart{
	color:blue;
	margin-right:0.5rem;
}

.button-container{
	//margin-right: 1rem;
//padding:0.3rem 1rem 0.3rem 0rem;

}

.commentButton{
	margin-bottom:1rem;
}

.deletePost{
	margin-left: 5px;
}

.margin-b {
	margin-bottom: 3rem;
}